# Ignorar arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar banco de dados SQLite
*.db

# Ignorar arquivos de ambiente virtual (se houver)
venv/
.env/

# Ignorar arquivos temporários de sistema
*.log
*.swp
.DS_Store
Thumbs.db


