/* Adicione no upload.css */
.camera-btn {
  display: block;
  margin: 30px auto 20px auto;
  padding: 12px 25px;
  font-size: 1.2rem;
  color: white;
  background-color: #2980b9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.camera-btn:hover {
  background-color: #1c5980;
}
