<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

<div class="form-box">
    <h1>Formulário</h1>

    <form action="/enviar" method="post">
        <label for="name">Nome:</label>
        <input id="name" type="text" name="nome" placeholder="Digite o seu nome completo..." required autofocus>

        <label for="matricula">Matrícula:</label>
        <input type="number" id="matricula" name="matricula" placeholder="Digite a sua matrícula..." required>

        <label for="email">Email institucional:</label>
        <input type="email" id="email" name="email" placeholder="Digite seu email institucional..." required>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" placeholder="XXX.XXX.XXX-XX" required>
        
        <label for="rg">RG:</label>
        <input type="text" id="rg" name="rg" placeholder="XXXXXXX-X" required>
        


        <label for="curso">Curso:</label>
        <input type="text" id="curso" name="curso" placeholder="Digite o seu curso..." required>

        <label for="resp">Nome do responsável:</label>
        <input type="text" id="resp" name="responsavel" placeholder="Digite o nome do responsável..." required>

        <label for="data_nasc">Data de Nascimento do Aluno:</label>
        <input type="date" id="data_nasc" name="data_nasc" required>

        <label for="val">Validade carteirinha:</label>
        <input type="month" id="val" name="validade" required>

        <button type="submit">Próximo</button>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul style="list-style: none; padding: 10px 0;">
                    {% for category, message in messages %}
                        <li class="{{ 'mensagem-erro' if category == 'erro' else 'mensagem-sucesso' }}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
</div>

</body>
</html>
