<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
</head>
<body>
<h1>Formulário</h1>
<form action="/enviar" method="post">
<label for="name">Nome:</label><br>
<input id="name" type="text" name="nome" placeholder="Digite o seu nome completo..." required autofocus><br><br>
<label for="matricula">Matricula:</label><br>
<input type="number" id="matricula" name="matricula" placeholder="Digite a sua matricula..." required><br><br>
<label for="cpf">CPF:</label><br>
<input type="text" id="cpf" name="cpf" placeholder="XXX.XXX.XXX-XX" required><br><br>
<label for="curso">Curso:</label><br>
<input type="text" id="curso" name="curso" placeholder="Digite o seu curso..." required><br><br>
<label for="resp"> Nome do responsável:</label><br>
<input type="text" id="resp" name="responsavel" placeholder="Digite o seu curso..." required><br><br>
<label for="val">Validade carteirinha:</label><br>
<input type="text" id="val" name="validade" placeholder="MM/AAAAA" required><br><br>

 <button type="submit">Próximo</button>
</form>

</body>
</html>